button.button-container {
    cursor: pointer;
    height: 49px;
    width: 193px;
    border-radius: 8px;
    background: linear-gradient(98.81deg, var(--blue) -0.82%, var(--blue-dark) 101.53%);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: var(--white);
    border: none;
    align-items: center;
    margin-top: 1rem;
    text-decoration: none;
  }