.product-container {
  display: flex;
  height: 25px;
  width: auto;
  padding: 10px 0 10px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn-container {
  height: 100%;
}

.btn-container button {
  color: #1f1f1f;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 10px;
}

[aria-label='soon'] {
  background-color: aquamarine;
}

[aria-label='kind of soon'] {
  background-color: antiquewhite;
}

[aria-label='not soon'] {
  background-color: yellowgreen;
}

.list-name,
.item-name {
  text-transform: capitalize;
  font-style: italic;
  margin-bottom: 20px;
  padding: 0 10px;
}
