p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--grey-dark);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-dark);
}

.modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 341px;
  height: 98px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--light);
  border-radius: 8px;
}
.container-modal-mssg {
  display: flex;
  align-items: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.button_close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 14px;
  padding: 6px;
  margin: 2px;
  background-color: transparent;
  color: var(--grey-dark);
  font-weight: bold;
  cursor: pointer;
}

.material-icons {
  padding: 0 8px;
}

.material-icons.md-light_error {
  color: #d10766;
}

.material-icons.md-light_success {
  color: #68d918;
}
