.h1-container {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 25px;
  color: var(--black);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-container {
  height: 49px;
  width: 193px;
  border-radius: 8px;
  background: linear-gradient(98.81deg, #6691ed -0.82%, #4d478b 101.53%);
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  border: none;
}
