
form {
  padding: 2rem 0;
}
.filter-form-add-items {
  justify-content: stretch;
  padding: 0;
  justify-items: center;
}

fieldset {
  border: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px 5px;
  width: 200px;
}
input {
  border: 1px solid #9e9e9e;
  background-color: #ececec;
}

.button-container {
  display: flex;
  justify-content: center;
}
button {
  padding: 0.25rem 1rem;
}

.how-soon {
  margin: 28px 0px 1px;
  font-size: 14px;
  color: white;
}

.inputField {
  margin-top: 2%;
}

.list-header-add-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6691ed;
  width: 100%;
  color: white;
  padding: 20px;
}
