.mssg_result_empty {
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
}
.list-header {
  background-color: #6691ed;
  color: white;
  width: 100%;
  padding: 20px;
}

.title {
  margin-bottom: 10px;
  text-align: center;
}

.filter-form {
  padding: 0;
  display: grid;
  justify-items: center;
}

.filter-form label {
  margin-bottom: 5px;
  font-size: 14px;
}

.products-container {
  padding: 10px 10px 0 10px;
  display: grid;
  justify-content: space-around;
}

.filter-item {
  display: flex;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.filter-input {
  padding: 5px;
  color: white;
  border: none;
  outline: none;
  height: 100%;

  background: transparent;
  border-radius: 8px 0 0 8px;
}

.filter-input::placeholder {
  color: white;
  opacity: 0.5;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-flex;
}
.circle.soon {
  background-color: var(--green-light);
}
.circle.kindOfSoon {
  background-color: var(--yellow);
}
.circle.notSoon {
  background-color: var(--pink);
}

table.table-container {
  display: flex;
  align-items: center;
  padding: 18px;
  justify-content: space-around;
}

@media only screen and (min-width: 600px) {
  .filter-form-add-items {
    width: 100%;
  }
  .parent_list_view {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 8px;
  }

  .table_view {
    grid-area: 1 / 1 / 2 / 2;
  }
  .productos_view {
    grid-area: 1 / 2 / 2 / 3;
  }

  table.table-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .products-container {
    padding-top: 2rem;
  }
}
