:root {
  --grey: #d2d5dc;
  --pink: #d10766;
  --green-light: #8ee881;
  --green-dark: #68d918;
  --yellow: #fed60d;
  --blue: #6691ed;
  --blue-light: #95bfef;
  --blue-dark: #4c78b5;
  --light: #f9fdff;
  --dark: #7a7a7a;
}
