@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --blue-light: #9f9dc2;
  --blue-dark: #4D478B;
  --grey: #d2d5dc;
  --grey-light: #a09e9e;
  --grey-dark: #7a7a7a;
  --pink: #d10766;
  --green-light: #8ee881;
  --green-dark: #68d918;
  --yellow: #fed60d;
  --pink-light: #fecfd0;
  --pink-dark: #fd8383;
  --blue: #6691ed;
  --blue-light: #95bfef;
  --light: #f9fdff;
  --white: #fff;
  --dark: #706B7E;
  --black: #000;

  --common-font: 'Roboto', sans-serif;
}
