@import './design/variables.css';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--common-font);
  background-color: var(--light);
}

@media only screen and (min-width: 600px) {
  main {
    display: grid;
    justify-items: center;
  }
}