* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
#root {
  display: grid;
  justify-items: center;
}

[aria-label='soon'] {
  background-color: brown;
}

[aria-label='kind of soon'] {
  background-color: blue;
}

[aria-label='not soon'] {
  background-color: green;
}
